.contact {
  text-align: center;
  font-size: 9pt;

  @include sm {
    font-size: 11pt;
  }
  @include md {
    font-size: 13pt;
  }
  @include lg {
    font-size: 15pt;
  }
  @include xl {
    font-size: 17pt;
  }
  
  &__holder {

    &--label {
      padding: 1rem 0 1rem 0;
    }

    &--input {
      height: 1.2rem;
      @include contact;
    }

    &--addInfo {
      height: 3.5rem;
      @include contact;
    }
  }

  &__btnHldr {
    padding-top: .8rem;

    &--btn {
      width: 10rem;
      height: 1.5rem;
      @include contact;
    }
  }
}