* {
  padding: 0;
  margin: 0;
  color: white;
}

html {
  height: 100vh;
}

body {
  font-family: 'Titillium Web', sans-serif;
  background-image: url('/background.jpg');
  background-color: #17194a;
  background-size: 100% 100%;
}

.bodyContainer {
  height: 100vh;
}

p {
  padding-top: 2rem;
  font-size: 11pt;

  @include sm {
    font-size: 13pt;
  }
  @include md {
    font-size: 15pt;
  }
  @include lg {
    font-size: 17pt;
  }
  @include xl {
    font-size: 19pt;
  }
}

footer {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-size: 8px;
}