* {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
}

nav {
  background: #222;
  padding: 5px 20px;
}

ul li {
  text-align: center;
  margin: 15px auto;
}

ul {
  list-style-type: none;
}

.navLinks {
  text-decoration: none;
}