* {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
}

nav {
  background: skyblue;
  padding: 5px 20px;
}

.navLinks {
  text-decoration: none;
  color: black;
}

.navBar {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
}

.navBar > span {
  padding: 1.5rem;
}

.navLogo {
  position: absolute;
  left: 1.5rem;
}

header {
  padding-bottom: 3rem;
}